/* container class for the calculator in the document body */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

/* forces flex grid to be 2x2 - display & clear button, digit container & operator container */
.flexbox-item {
    flex-basis: calc(45%);
    text-align: center;
}

#clear-button {
    max-width: 80px;
    text-align: center;
}

#digit-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    flex-basis: 50%;
}

#operator-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}
